<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488444331392-ob5c1nrdrk0mtno5csoa3ha1i5399n2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488444331392-ob5c1nrdrk0mtno5csoa3ha1i5399n2a</string>
	<key>API_KEY</key>
	<string>AIzaSyCp0hsze1-hmwZLajiqeWpeiAHpobMNLM4</string>
	<key>GCM_SENDER_ID</key>
	<string>488444331392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wavyvone.FOW</string>
	<key>PROJECT_ID</key>
	<string>clear-the-clouds-5</string>
	<key>STORAGE_BUCKET</key>
	<string>clear-the-clouds-5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488444331392:ios:5e11b610a9f07568996d65</string>
</dict>
</plist>